<!DOCTYPE html>
<html lang="en">

<head>
    <script defer type="text/javascript" src="js/menu.js"></script>
    <script defer type="text/javascript" src="../public/js/menu.js"></script>
    <script defer src="https://vuejs.org/js/vue.js"></script>
    <script defer src="js/js_script.js"></script>
    <script defer src="js/vue_script.js"></script>
    <script defer src="../public/js/js_script.js"></script>
    <script defer src="../public/js/vue_script.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <title>BurgerOnline</title>
    <meta charset="utf-8" />
</head>

<body>
    <header>
        <h1 id="headline">Welcome to BurgerOnline</h1>
    </header>
    <main>
        <section id="burgerSection">
            <h2>Choose your burger:</h2>
            <p>This is where you choose your burger!</p>
            <div class="table">
                <div class="burgerCell" v-for="burger in burgers">

                    <h3>{{ burger.name }}</h3>

                    <img :src="burger.image" :alt="burger.name" :title="burger.name" width="200px">

                    <ul>
                        <li>{{ burger.kCal }} kCal</li> <br>
                        <li v-if="burger.hasLactose == true"> {{burger.hasLactose}}</li> <br>
                        <li v-if="burger.hasGluten == true">{{burger.hasGluten}}</li> <br>
                    </ul>

                </div>
        </section>
        <section id="infoSection">
            <h2>Delivery Address:</h2>
            <p>This is where you put in your address!</p>
            <form>
                <p>
                    <label for="fullname">Full Name</label><br>
                    <input type="text" id="fullname" required="required" name="fn" placeholder="First- and Last name">
                </p>
                <p>
                    <label for="email">E-mail</label><br>
                    <input type="email" id="email" name="em" required="required" placeholder="E-mail address">
                </p>
                <p>
                    <label for="street">Street</label><br>
                    <input type="text" id="street" name="st" placeholder="Street name">
                </p>
                <p>
                    <label for="house">House</label><br>
                    <input type="text" id="house" name="hs" placeholder="House Number">
                </p>

                <p>
                    <label for="payment">Choose payment method:</label><br>
                    <select id="payment" name="payment">
                        <option>Credit Card</option>
                        <option>PayPal</option>
                        <option>Invoice</option>
                        <option>Check by mail</option>
                    </select>
                </p>
                <p>
                    <label for="gender">Choose gender:</label><br>
                    <input type="radio" id="genderNon" name="gender" value="Non-binary" checked="checked">Non-binary<br>
                    <input type="radio" id="genderFemale" name="gender" value="Female">Female<br>
                    <input type="radio" id="genderMale" name="gender" value="Male">Male<br>
                </p>

            </form>
            <p>
                <div id="submit">
                    <button v-on:click="markDone" class="submit" type="submit"><img src="https://image.flaticon.com/icons/svg/60/60525.svg"
                            height="10px" width="10px">Send
                        Info</button>
                </div>
            </p>
            <div id="showOrder" v-for="o in order">

                {{ o }}

            </div>
        </section>

    </main>
    <footer id="footer">BurgerOnline copyright etc.</footer>
</body>

</html>