@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");
@import url('https://fonts.googleapis.com/css?family=Pacifico|Dosis');

body {
    font-family: Arial;
    font-size: 1.2em;
}

.table>* {
    display: grid;
    grid-template-columns: 220px 220px 220px;

}

.tablehead {
    grid-row: 1 / span 3;
}

.tablepic {
    grid-row: 2 / span 3;
}

.tableIng {
    grid-row: 3 / span 3;
}

.ingredients {
    font-weight: bold;
}

.burgerSection {
    background: black;
    color: white;
    margin: 0px 0px 0px 10px;
    border: 2px dashed white;
    padding-left: 20px;
}

.header {
    margin: 0px 0px 0px 10px;
}

.infoSection {
    margin: 0px 0px 0px 10px;
    border: 2px dashed black;
    padding: 0px 20px 0px;
}

.submit {
    margin: 10px 0px 10px 0px;
}

button:hover {
    background: green;
    cursor: pointer;
}

#headline {
    position: absolute;
    margin: 30px;
    font-size: 5.3em;
}

#footer {
    margin: 5px 0px 0px 10px;
}

a,
strong,
em {
    color: #0099ff;
}

p.info,
#login p {
    width: 80%;
    margin: 1vw auto;
}

#burgerHeader {
    opacity: 0.5;
    overflow: hidden;
    height: 200px;
    width: 100%;
}